./data
./data/*
.vscode
.vscode/
./docs
./docs/*
./data_folder
,/data_folder/*
./models
./models/*.pt
./vocab
./vocab/*
./__pycache__/
./__pycache__//*
data/
data/*
docs
docs/
data_folder
data_folder/
models
models/*.pt
vocab
vocab/
__pycache__
__pycache__/